@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
.header{
    font-family: "Amatic SC",cursive;
}
.cofee{
    vertical-align: middle;
}
.clock{
    vertical-align: middle;
}